#about-us{
  background:#333;
  .container{
    .wrapper{
      .left{
        float:left;
        width:400px;
        .nav-panel{
          height:407px;
          .left-edge{
            float:left;
            width:43px;
            height:100%;
            background:url(../img/3/3-1.png);
          }
          .nav-panel-cnt{
            float:left;
            background:#fff;
            height:100%;
            width:300px;
            .nav-item{
              color:$secondaryColor;
              &.active,&:hover{
                color:$primaryColor;
              }
            }
          }
        }//.nav-panel
      }//.left
      .right{
        float:left;
        width:600px;
        height:407px;
        .right-inner{
          width:100%;
          height:100%;
          .left-edge{
            width:43px;
            height:100%;
            background:url(../img/3/3-1.png);
            float:left;
          }
          .right-edge{
            width:43px;
            height:100%;
            background:url(../img/3/3-2.png);
            float:left;
          }
          .cnt-wrapper{
            height:100%;
            width:514px;
            float:left;
            background:#fff;
            .header{
              text-align:center;
              .title{
                color:$primaryColor;
              }
            }//.header
          }
        }//.right-inner
      }//.right
    }//.wrapper
  }//.container
}
