#about-us{
  .cookies{
    #c3-1{
      @include cookie('../img/4/4-8.png',177,1%,500);
    }
    #c3-2{
      @include cookie('../img/3/3-9.png',362,70%,200);
    }
  }
  .container{
    .wrapper{
      position:relative;
      padding-top:100px;
      .line{
        width: 0;
        border-right: 2px solid #fff;
        height: 200px;
        position: absolute;
        top: 0;
        left: 213px;
      }
      .left{
        float:left;
        width:213px;
        margin-left:90px;
        margin-right:50px;
        .nav-panel{
          height:407px;
          .left-edge{
            float:left;
            width:43px;
            height:100%;
            background:url(../img/3/3-1.png);
          }
          .nav-panel-cnt{
            float:left;
            background:#fff;
            height:100%;
            width:170px;
            padding-left:12px;
            padding-top:90px;
            .about-us-brand{
              margin-bottom:35px;
            }
            li{
              margin:6px 0;
            }
            .nav-item{
              color:$secondaryColor;
              font-size:10px;
              &.active,&:hover{
                color:$primaryColor;
              }
            }//.nav-item
          }
        }//.nav-panel
      }//.left
      .right{
        float:left;
        width:640px;
        height:407px;
        .right-inner{
          width:100%;
          height:100%;
          .left-edge{
            width:43px;
            height:100%;
            background:url(../img/3/3-1.png);
            float:left;
          }
          .right-edge{
            width:43px;
            height:100%;
            background:url(../img/3/3-2.png);
            float:left;
          }
          .cnt-wrapper{
            height:100%;
            width:535px;
            float:left;
            background:#fff;
            overflow:hidden;
            .display-entry{
              display:none;
              .jspVerticalBar{
                width:15px;
                background:none;
              }
              .jspTrack{
                background:url(../img/3/3-6.png) repeat-y 5px 0;
              }
              .jspDrag{
                background:url(../img/3/3-5.png);
              }
            }
            .header{
              text-align:center;
              padding-top:40px;
              padding-bottom:40px;
              img{
                width:223px;
              }
              .title{
                color:$primaryColor;
                font-family:$primaryFont;
                font-size:22px;
                line-height:60px;
              }
            }//.header
            .article{
              height:120px;
              width:280px;
              margin:0 auto;
              font-size:10px;
              color:#666;
            }//.article
          }//.cnt-wrapper
        }//.right-inner
      }//.right
    }//.wrapper
  }//.container
}
