#home{
  background-color:#F5F2E3;
  .container{
    text-align:center;
  }
  .cookies{
    #c1-1{
      @include cookie('../img/2/2-3.png',434,5%,200);
    }
    #c1-2{
      @include cookie('../img/2/2-4.png',254,30%,200);
    }
    #c1-3{
      @include cookie('../img/2/2-3.png',434,70%,500);
    }
  }//.cookies
  .container{
    background:url(../img/2/2-2.png);
    .wrapper{
      padding-top:540px;
      position:relative;
    }
    .split{
      width:420px;
      height:0;
      margin:0 auto;
      border-bottom:1px solid #000;
      margin-top:20px;
    }
    .cnt{
      text-align:center;
      width:560px;
      margin:0 auto;
      margin-top:20px;
      p{
        font-size:12px;
        color:#000;
        margin:0;
      }
    }
  }//.container
}
