#landing{
  background:#b3e0d9;
  .container{
    height:100%;
    text-align:center;
    .brand{
      margin-top:-100px;
    }
    .scroll-down-icon{
      position:absolute;
      left:50%;
      margin-left:-35px;
      bottom:50px;
    }
  }
}
