.row.page-section.img-liquid-fill#contact
  img(src="img/3/2.jpg")
  .cookies
    .cookie.absolute#c7-1
    .cookie.absolute#c7-2
  .container
    .wrapper
      img.top-img(src="img/8/8-1.png")
      .cnt
        .left.fl
          img.logo(src="img/8/8-8.png")
          .icons
            a.qq
            a.weixin
            a.weibo
        .right.fl
          p.number TEL:400-0607-655
          p.number FAX:0571-86710677
          p ADD:杭州江干区九和路18号A08栋3层
      img.buttom-img(src="img/8/8-2.png")

