.row.page-section.img-liquid-fill#home
  img(src="img/2/2-2.png")
  .cookies
    .cookie.absolute#c1-1
    .cookie.absolute#c1-2
    .cookie.absolute#c1-3
  .container
    .wrapper
      img.year(src="img/2/2-6.png")
      .split

