.row.page-section.img-liquid-fill#home
  img(src="img/2/1.jpg")
  .cookies
    .cookie.absolute#c1-1
    .cookie.absolute#c1-2
    .cookie.absolute#c1-3
  .container
    .wrapper
      img.year(src="img/2/2-6.png")
      .split
      .cnt
        p Into the 21st century, China joined
        p WTO and world economic integration process requires the rapid development of the
        p company around " committed to developing a career in fashion , providing
        p outstanding and distinctive products and services to our customers and enable them

