//script(src="js/xxx.js")

script(src='js/_landing.js')
script(src='js/_home.js')
script(src='js/_top_nav.js')
script(src='js/_about_us.js')
script(src='js/_news.js')
script(src='js/_contact_us.js')
script(src='js/_product.js')
script(src='js/_store.js')
