- var menu = [{disp:"Home",ref:"home",zh:"首页"},{disp:"BRAND PROFILE",ref:"about-us",zh:"关于我们"},{disp:"Products",ref:"product",zh:"产品"},{disp:"News",ref:"news",zh:"新闻"},{disp:"JOIN",ref:"join",zh:"加盟"},{disp:"Store",ref:"store",zh:"店铺"},{disp:"Contact",ref:"contact",zh:"联系我们"}]
.row#top-nav
  .container
    img(src="img/2/2-1.png")
    ul
      - for(var i = 0 ; i < menu.length;i++)
        li
          a(href="##{menu[i].ref}" data-zh="#{menu[i].zh}")
            span #{menu[i].disp}


