doctype html
html
  include _header
  body
    include _top_nav
    include _landing
    include _home
    include _about_us
    include _product
    include _news
    include _store
    include _contact_us
    include _foot

